{% extends "base.html" %}

{% block content %}


  <main id="about">     
    <div class="aboutContainer">
        <title> {% block title %} Nosotros {% endblock %}</title>
      <h1>NOSOTROS</h1>   
      
      <div class="aboutInfo">

        <div class="aboutContact">
          <h3>FUNDADORES</h3>
          <p>Conrado Rojas</p>

          <h3>SOCIALS</h3>
          <p>INSTAGRAM</p>
          <p>LINKEDIN</p>
          <p>TWITTER</p>
  
          <h3>CONTACTO</h3>
          <p>conradorojas@gmail.com</p> 
  
        </div>

      </div>
        
    </div>
  </main>

{% endblock %}